<!DOCTYPE html>

<head></head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="static/js/graphs.js"></script>


<canvas id="chart" width="600" height="400"></canvas>

{% if visual == 'single_bar' %}
    <script>
        let labels = [{% for item in labels %} "{{item}}", {% endfor %}];
        let data = [{% for item in vals %} {{item}}, {% endfor %}];
        render_single_bar_graph(labels,data,"{{y_axis}}");
    </script>
{% elif visual == 'double_bar' %}
    <script>
        render_double_bar_graph();
    </script>
{% endif %}
