<head>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css"></link>
    <link rel="stylesheet" type="text/css" href="static/css/home.css">
</head>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>


<body>
    <img src="static/assets/datavislogo.png" class="logo" id="logo">
    <div id="particles-js">
        <form class="query ui massive icon input" id="input">
            <input id="input_query" type="text" placeholder="Enter a question...">
            <i class="search link icon" id="button" onclick="display_cards()"></i>
        </form>

        <div id="cards"></div>

    </div>


</body>


<script src="static/js/home.js"></script>

<script>
    $('#input_query').keydown(function(e){
       if(e.keyCode == 13){
           display_cards();
           $('#input').css("transform","translate(0,-400%)");
           $('#logo').fadeOut();
           return false;
       }
    });

</script>

<script>
    $(document).ready(function(){
        $('#button').click(function(){
            $('#input').css("transform","translate(0,-400%)");
            $('#logo').fadeOut();
        });
    });
</script>



<script>
    function display_cards() {
        // do asynch post req to modify cards
        $.post("/choose_dataset", {
            query: $('#input_query').val()
        }).done(function(response) {

            titles = response['titles'];
            descriptions = response['descriptions'];
            filenames = response['filenames'];

            var section = document.getElementById('cards');
            section.innerHTML = '';
            for(let i=0; i<titles.length; i++){
                let card = document.createElement('div');
                card.classList.add('ui');
                card.classList.add('card');

                let content = document.createElement('div');
                content.classList.add('content');
                content.insertAdjacentHTML('beforeend','<form id="form'+i+'"name="select" method="POST" action="/dashboard"><a href="javascript:{}" onclick="document.getElementById(\'form'+i+'\').submit(); return false;" class="ui header"><input type="hidden" name="filename" value="'+filenames[i]+'"/>'+titles[i]+'</a></form>')

                let description = document.createElement('div');
                description.classList.add('description');
                description.append(descriptions[i]);
                content.appendChild(description);

                let extraContent = document.createElement('div');
                extraContent.classList.add('extra');
                extraContent.classList.add('content');
                extraContent.insertAdjacentHTML('beforeend','<form id="form'+i+'"name="select" method="POST" action="/dashboard"><a href="javascript:{}" onclick="document.getElementById(\'form'+i+'\').submit(); return false;"><input type="hidden" name="filename" value="'+filenames[i]+'"/><i class="chart line icon"></i> Plot Dataset</a></form>')


                card.appendChild(content);
                card.appendChild(extraContent);
                card.style.opacity = 0

                section.appendChild(card);


                setTimeout(function() {
                    var steps = 0;
                    var timer = setInterval(function() {
                        steps++;
                        card.style.opacity = 0.05 * steps;
                        if(steps >= 20) {
                            clearInterval(timer);
                            timer = undefined;
                        }
                    }, 50);
                }, 250);

            }
            return false;
        }).fail(function() {
            $('#cards').text("complete garbage")
        });

    }
</script>
