<head>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css"></link>
    <link rel="stylesheet" type="text/css" href="static/css/home.css">
</head>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>


<body>
    <div id="particles-js">
        <form class="query ui massive icon input" id="input">
            <input id="input_query" type="text" placeholder="Enter a question...">
            <i class="search link icon" id="button" onclick="display_cards()"></i>
        </form>

        <div id="cards"></div>

    </div>


</body>


<script src="static/js/home.js"></script>

<script>
    var input = document.getElementById("input_query");
    input.addEventListener("keyup",function(event){
        event.preventDefault();
        if (event.keyCode == 13){
            document.getElementById("button").click();
            return false;
        } else {
            console.log('rip')
            return false;
        }
    })

</script>

<script>
    $(document).ready(function(){
        $('#button').click(function(){
            $('#input').css("transform","translate(0,-500%)");
        });
        return false;
    });
</script>

<script>
    function display_cards() {
        console.log('nice')
        // do asynch post req to modify cards
        $.post("/choose_dataset", {
            query: $('#input_query').val()
        }).done(function(response) {

            title = response['titles'];
            descriptions = response['descriptions'];

            var section = document.getElementById('cards');
            section.innerHTML = '';
            for(let i=0; i<title.length; i++){
                let card = document.createElement('div');
                card.classList.add('ui');
                card.classList.add('card');

                let content = document.createElement('div');
                content.classList.add('content');
                let header = document.createElement('a');
                header.classList.add('header');
                header.text = title[i];
                let description = document.createElement('div');
                description.classList.add('description');
                description.append(descriptions[i]);
                content.appendChild(header);
                content.appendChild(description);

                let extraContent = document.createElement('div');
                extraContent.classList.add('extra');
                extraContent.classList.add('content');
                extraContent.insertAdjacentHTML('beforeend','<a><i class="chart line icon"></i> Plot Dataset</a>')

                card.appendChild(content);
                card.appendChild(extraContent);
                card.style.opacity = 0

                section.appendChild(card);


                setTimeout(function() {
                    var steps = 0;
                    var timer = setInterval(function() {
                        steps++;
                        card.style.opacity = 0.05 * steps;
                        if(steps >= 20) {
                            clearInterval(timer);
                            timer = undefined;
                        }
                    }, 50);
                }, 250);

            }
            return false;
        }).fail(function() {
            $('#cards').text("complete garbage")
        });

    }
</script>
