<head>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css"></link>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
</head>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>



<body>
    <div id="particles-js">
        <form class="query ui massive icon input" method="POST" action="/choose_dataset" id="input">
            <input type="text" placeholder="Enter a question...">
            <i class="search link icon" id="button" onclick="display_cards()"></i>
        </form>
    </div>

    <div id="cards">

    </div>

</body>

<script src="{{ url_for('static', filename='home.js') }}"></script>

<script>
    if ("{{first}}"=="True"){
        $(document).ready(function(){
            $('#button').click(function(){
                $('#particles-js').css("transform","translate(0,-25%)");
            });
        });
    }
</script>

<script>
    function display_cards() {
        // do asynch post req to modify cards
    }
</script>
