.back-button{
	background-color: rgba(168,168,168, 0) !important;	
}

.back-button:hover{
	background-color: rgba(168,168,168, 0.3) !important;
}

.button-text{
	font-size: 1rem !important;
}

.item{
	padding-right: 200px !important;
	font-size: 20px !important;
	padding-top: 7px !important;
	padding-bottom: 7px !important;
	/*width:20% !important;*/
	/*height:2% !important;*/
}
